@mixin common-btn {
    background-color: $primary;
    border: 3px solid $primary;
}
@mixin common-label-text {
    font-size: 14px;
    line-height: 21px;
}
@mixin common-label-text {
    font-size: 16px;
    line-height: 25px;
}