@font-face {
    font-family: AmazonEmber;
    src: url(assets/fonts/Amazon_Ember_Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: AmazonEmber;
    src: url(assets/fonts/Amazon_Ember_Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: AmazonEmber;
    src: url(assets/fonts/Amazon_Ember.ttf);
    font-weight: 400;
}
@font-face {
    font-family: AmazonEmber;
    src: url(assets/fonts/Amazon_Ember_Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: AmazonEmber;
    src: url(assets/fonts/Amazon_Ember_Bold.ttf);
    font-weight: bold;
}