@import "./app/shared/variables.scss";
@import "./app/shared/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}

form {
    .form-control, .custom-file-upload {
        border: 3px solid $primary;
        border-radius: 0;
        box-shadow: 0px 10px 25px $input-bg;
        background: $input-bg;
        height: 60px;
        padding: 22px 20px 22px 26px;
        font-size: 16px;
        line-height: 25px;
        &:focus {
            background-color: $input-bg;
            border-color: $primary;
            box-shadow: 0px 10px 25px $input-bg;
        }
    }
    .form-label {
        @include common-label-text;
        font-weight: bold;
        padding-left: 25px;
    }
}
.btn {
    padding: 16px !important;
    &.btn-primary {
        box-shadow: 0px 10px 25px $input-bg;
        background: $input-bg;
        font-weight: bold;
        @include common-label-text;
    } 
    &.btn-primary, &.btn-secondary {
        border-radius: 0;
        border: 3px solid $primary;
        color: $font-color;
    }
    &.btn-main-submit, &.ng-fa-icon {
        background: linear-gradient(to left, $input-bg 50%, $primary 50%) right;
        background-size: 200%;
        transition: .5s ease-out;
        min-width: 150px;
        display: flex;
        justify-content: space-between;
        &:hover {
            @include common-btn;
            background-position: left;
            color: #fff;
            &.ng-fa-icon {
                @include common-btn;
                background-position: left;
                color: #fff;
            }
        }
    }

    &.btn-plus {
        &:hover {
            color: #fff;
            background-color: $primary;
            border: 3px solid $primary;
        }
    }

    &.btn.btn-secondary {
        @include common-btn;
        color: #fff;
    }
    &.btn-plus, &.btn-minus {
        width: 60px;
        height: 60px;
        .ng-fa-icon {
            font-size: 20px;
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }
}