@import "../shared/variables.scss";

h1 {
    font-size: 48px;
    line-height: 46px;
    font-weight: bold;
}
.form-control {
    &.input-3-lines {
        height: 105px;
        resize: none;
    }
}
