@import "../shared/variables.scss";

h1 {
    font-size: 48px;
    line-height: 46px;
    font-weight: bold;
}
.form-control {
    &.input-3-lines {
        height: 105px;
        resize: none;
    }
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom-file-upload--text {
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}